.light{
	background-image:url(empty.png);
	width:80px;
	height:80px;
}
.red{
	background-image:url(red.png);
}
.yellow{
	background-image:url(yellow.png);
}
.green{
	background-image:url(green.png);
}